.container {
    padding: 25px;
    
}

.nav-tabs {
    margin-bottom: 20px;
    display: flex;
}

.nav-item {
    list-style-type: none;
    margin-right: 10px;
}
.nav-link {
      text-decoration: none;
      padding: 10px 15px;
      display: inline-block;
      border-bottom: 3px solid transparent;
  }

 .active {
     border-bottom: 3px solid #5AA7EA;
 }

 
.nav-link:focus {
  color: black; 
  transition: color 0s; 
}
