<div class="gallery">
  <div class="gallery-item" *ngFor="let image of images">
    <div>
       <!-- <img [defaultImage]="'https://placehold.co/1000x1000?text=Loading...'" [lazyLoad]="image.download_url" [alt]="image.author" /> -->
       <img [defaultImage]="'assets/placeholder.svg'" [lazyLoad]="image.download_url" [alt]="image.author" />
    </div>
   
    <div class="caption">
      <h4>
        {{ image.author }}
      </h4>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </div>
  </div>
</div>