<div class="gallery ">
  <div class="gallery-item" *ngFor="let image of images">
    <div class="image-container">
      <div class="spinner" *ngIf="!image.loaded">
        <app-spinner></app-spinner>
      </div>
      <img  [lazyLoad]="image.download_url" [alt]="image.author" (load)="onImageLoad(image)" />
    </div>
    <div class="caption">
      <h4>
        {{ image.author | uppercase }}
      </h4>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </div>
  </div>
</div>


