.not-found-container {
  text-align: center;
  margin-top: 50px;
}

.not-found-container h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.not-found-container p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.not-found-container a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
}

.not-found-container a:hover {
  background-color: #0056b3;
}
